* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#click {
  display: none;
}

.fixed-navbar {
  position: fixed;
  width: 100%;
  top: 0px;
}

.first-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.297);
  height: 40px;
  background-color: white;
}
.first-column .nav-first nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 15px;
}
.first-column .nav-first nav ul li {
  list-style: none;
}
.first-column .nav-first nav ul a {
  text-decoration: none;
  color: #292621;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.first-column .wishlink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}
.first-column .wishlink p {
  text-decoration: none;
  color: #292621;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-right: 1px solid rgba(0, 0, 0, 0.29);
  padding-right: 10px;
}
.first-column .wishlink i {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1s;
}
.first-column .wishlink i:hover {
  transform: rotate(360deg);
}

.second-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  /* media navbar */
  /* media navbar */
}
.second-column .nav-second nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.second-column .nav-second nav ul li {
  list-style: none;
}
.second-column .nav-second nav ul a {
  text-decoration: none;
  color: #141517;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.second-column .nav-second nav ul a:hover {
  color: #FF2020;
}
.second-column label {
  font-size: 30px;
  display: none;
}
.second-column .second-column-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.second-column .second-column-icone img {
  height: 25px;
  width: 25px;
}

.third-column {
  background-color: rgba(0, 0, 0, 0.895);
  height: 40px;
  margin-top: 120px;
}
.third-column p {
  text-align: center;
  color: white;
  padding: 10px;
  font-family: "Jost", sans-serif;
}
.third-column p a {
  color: rgb(255, 166, 0);
}

.hero {
  height: 100vh;
  background-image: url(/Images/pixelcut-export\ \(1\).jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-right: 700px;
}
.hero .main-content #p1 {
  font-style: italic;
  font-size: 56px;
  color: #FF2020;
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.hero .main-content #p2 {
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
.hero .main-content #p3 {
  color: #74706B;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  width: 500px;
}
.hero .main-content a {
  text-decoration: none;
  color: white;
  background-color: #292621;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
  border: 1px solid #292621;
}
.hero .main-content a:hover {
  background-color: white;
  color: #292621;
}

.m-w-b {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin: 50px;
  padding: 10px;
}
.m-w-b .fashion {
  height: 324px;
  width: 370px;
  border: 1px solid #292621;
}
.m-w-b .fashion a {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.m-w-b .fashion a:hover {
  transform: translateY(50px);
}
.m-w-b .fashion a {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
  text-decoration: none;
}
.m-w-b .men {
  background-image: url(/Images/pixelcut-export\ \(3\).jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.m-w-b .women {
  background-image: url(/Images/pixelcut-export\ \(2\).jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.m-w-b .baby {
  background-image: url(/Images/pixelcut-export\ \(4\).jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.nav-third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.235);
  padding-bottom: 10px;
}
.nav-third h1 {
  color: #141517;
  font-size: 28px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin-left: 50px;
  margin-bottom: 30px;
}
.nav-third nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}
.nav-third nav ul li {
  list-style: none;
}
.nav-third nav ul a {
  text-decoration: none;
  color: #141517;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.nav-third nav ul a:hover {
  color: #FF2020;
  border-bottom: 2px solid #FF2020;
}
.nav-third nav ul a span {
  color: #FF2020;
  border-bottom: 2px solid #FF2020;
}

.trending {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10px;
  padding: 50px;
  gap: 10px;
}
.trending .first-trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.trending .first-trending img {
  height: 300px;
  width: 250px;
}
.trending .first-trending img:hover {
  transform: scale(1.05);
}
.trending .first-trending p {
  font-family: "Jost", sans-serif;
  color: rgba(41, 38, 33, 0.7529411765);
}
.trending .first-trending p:hover {
  color: #FF2020;
}
.trending .first-trending p span {
  color: red;
}
.trending .first-trending a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 60px 10px 60px;
  color: white;
  background-color: #292621;
  font-family: "Jost", sans-serif;
}
.trending .first-trending a:hover {
  background-color: white;
  color: #292621;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  background-color: rgba(243, 234, 216, 0.4588235294);
  height: 70vh;
}
.customer h1 {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  font-weight: 500;
}
.customer p {
  font-family: "Jost", sans-serif;
  color: #74706B;
  font-size: 20px;
}
.customer .customer-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.customer .customer-image img {
  height: 50px;
  width: 50px;
  border-radius: 360px;
}
.customer .customer-image p {
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 16px;
}
.customer .customer-image p span {
  font-family: "Jost", sans-serif;
  color: rgba(0, 0, 0, 0.6117647059);
  font-size: 16px;
  font-weight: 500;
}

h1 {
  color: #141517;
  font-size: 28px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.like {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10px;
  padding: 50px;
  gap: 10px;
}
.like .first-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.like .first-like img {
  height: 200px;
  width: 150px;
  display: block;
}
.like .first-like img:hover {
  transform: scale(1.05);
}
.like .first-like p {
  font-family: "Jost", sans-serif;
  color: rgba(41, 38, 33, 0.7529411765);
}
.like .first-like p:hover {
  color: #FF2020;
}
.like .first-like p span {
  color: red;
}
.like .first-like a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 60px 10px 60px;
  color: white;
  background-color: #292621;
  font-family: "Jost", sans-serif;
}
.like .first-like a:hover {
  background-color: white;
  color: #292621;
}

.big-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(243, 234, 216, 0.4588235294);
}
.big-icone .big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px;
}
.big-icone .big img {
  width: 68.74;
  height: 43.48;
}
.big-icone .big p {
  color: #2B2B2B;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.big-icone .big pre {
  color: #57667e;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

footer {
  background-color: #141515;
  margin-top: 50px;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.258);
}
.subscribe .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.subscribe .newsletter h4 {
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.subscribe .newsletter p {
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.subscribe .form input {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 150px;
  padding-left: 20px;
  color: black;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid black;
}
.subscribe .form button {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid black;
  background-color: #FF2020;
}
.subscribe .form-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.258);
}
.contact .contact-logo {
  margin-bottom: 150px;
}
.contact .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.contact .contact-content p {
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact .contact-content a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6901960784);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.contact .contact-content a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.last {
  padding: 5px;
}
.last h5 {
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.last h5 span {
  color: #FF2020;
}

@media screen and (max-width: 768px) {
  .fixed-navbar {
    position: static;
  }
  .second-column {
    display: flex;
    justify-content: space-between;
  }
  .second-column .second-column-icone {
    display: none;
  }
  .second-column .second-column-img {
    margin-left: 20px;
  }
  .second-column .nav-second label {
    display: block;
    margin-right: 20px;
  }
  .second-column .nav-second nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0;
    background-color: #4c4c4c;
    width: 100%;
    height: 220px;
    gap: 20px;
    display: none;
  }
  .second-column .nav-second nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .second-column .nav-second nav ul li a {
    color: white;
    margin: 3px;
    padding: 3px;
  }
  #click:checked ~ header .second-column .nav-second nav ul {
    display: block;
  }
  .third-column {
    margin-top: 0px;
  }
  .hero .main-content {
    margin-right: 200px;
  }
  .m-w-b {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin: 50px;
    padding: 10px;
    gap: 20px;
  }
  .m-w-b .fashion {
    height: 350px;
    width: 320px;
    border: 1px solid #292621;
  }
  .m-w-b .baby {
    display: none;
  }
  .trending {
    grid-template-columns: 50% 50%;
  }
  .like {
    grid-template-columns: 50% 50%;
  }
  .big-icone {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .subscribe {
    flex-direction: column;
    gap: 20px;
  }
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }
  .contact .contact-content p {
    margin-top: 26px;
  }
  .contact .shop-men {
    position: relative;
    left: 470px;
  }
}
@media screen and (max-width: 426px) {
  .first-column {
    display: none;
  }
  .third-column {
    height: 57px;
  }
  .second-column .nav-second nav ul {
    top: 80px;
  }
  .hero .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
  }
  .hero .main-content #p1 {
    font-size: 40px;
  }
  .hero .main-content #p2 {
    font-size: 35px;
  }
  .hero .main-content #p3 {
    font-size: 15px;
    width: 300px;
  }
  .m-w-b {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    margin-right: 350px;
    gap: 20px;
  }
  .m-w-b .fashion {
    height: 350px;
    width: 320px;
    border: 1px solid #292621;
  }
  .m-w-b .baby {
    display: none;
  }
  .nav-third {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .nav-third h1 {
    color: #141517;
    font-size: 28px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    margin-right: 50px;
  }
  .nav-third nav ul {
    margin-right: 0px;
  }
  .trending {
    grid-template-columns: 100%;
  }
  .like {
    grid-template-columns: 100%;
  }
  .big-icone {
    display: grid;
    grid-template-columns: 100%;
  }
  .subscribe {
    flex-direction: column;
    gap: 20px;
  }
  .subscribe .form input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 251px;
    padding-left: 20px;
  }
  .subscribe .form button {
    margin-top: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 177px;
    padding-right: 177px;
  }
  .contact {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    border-bottom: 0px;
  }
  .contact .contact-logo {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .contact .contact-content {
    margin-bottom: 0px;
  }
  .contact .shop-men {
    position: static;
  }
  .customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    background-color: rgba(243, 234, 216, 0.4588235294);
    height: 70vh;
  }
  .customer h1 {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
  .customer p {
    font-family: "Jost", sans-serif;
    color: #74706B;
    font-size: 15px;
  }
  .customer .customer-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .customer .customer-image img {
    height: 50px;
    width: 50px;
    border-radius: 360px;
  }
  .customer .customer-image p {
    font-family: "Jost", sans-serif;
    color: #000000;
    font-size: 16px;
  }
  .customer .customer-image p span {
    font-family: "Jost", sans-serif;
    color: rgba(0, 0, 0, 0.6117647059);
    font-size: 16px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */